
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&family=Shrikhand&display=swap');


// Variables 
@import "./utils/variables";

// Mixin
@import "./utils/mixins";

@import "./utils/keyframes";

// Loaders
@import "./components/loaders";

html{
    scroll-behavior: smooth;
}

//body: Corps de la page
body{
    font-family: 'Roboto', sans-serif;
    margin: auto;
    max-width: 1400px;
    scroll-behavior: auto;
    counter-reset: compteListe;
   
    @include mobile{
        width: 100%;
        height: auto;
    }

    @include tablette{
        width: 100%;
        height: auto;
    }
    @include mobile_android{
        width: 100%;
        height: auto;
    }

    @include tablette_pro{
        width: 100%;
        height: auto;
    }
}

// Header:Entete de la page
@import "./layouts/headers";

//images
@import "./layouts/images";

@import "./layouts/container";
// Div:une element_1 de la page
@import "./layouts/divs";

// section de la page
@import "./layouts/sections";

// pied  de la page
@import "./layouts/footers";
