@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&family=Shrikhand&display=swap");
/* ------------------     Mixins of home page ---------------------------------------------*/
/*@mixin on_active{
    .icon{
        display: block;
        margin-left: auto;
        cursor: pointer;
        transition: transform 1s linear;
        i.far.fa-heart {
            display: block;
        }
        .icon_1{
            visibility: visible;
            opacity: 1;
            transition: transform 1s linear;
        }
        .icon_2{
            position: $relative;
            top: -30px;
            visibility: hidden;
            opacity: 0;
            transform: scale(1);
            transition: transform 1s linear;
        }
        &:active .icon_1 {
            visibility: hidden;
            opacity: 0;
          }

        &:active .icon_2 {
            visibility: visible;
            opacity: 1;
            background: linear-gradient(linear, left top, left bottom, from($color-secondary ), to($color-primary));
            background-clip: text;
            -webkit-text-fill-color: transparent;
            transform: scale(1.5);
        }
    }    
}*/
body {
  font-family: "Roboto", sans-serif;
  margin: auto;
  max-width: 1400px;
  counter-reset: compteListe;
}
@media screen and (min-width: 320px) and (max-width: 480px) {
  body {
    width: 100%;
    margin: 0;
    height: auto;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  body {
    width: 100%;
    margin: 0;
    height: auto;
  }
}
@media screen and (min-width: 481px) and (max-width: 767px) {
  body {
    width: 100%;
    margin: 0;
    height: auto;
  }
}

.header {
  width: auto;
  background-color: transparent;
  padding: 1rem;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.25);
  position: relative;
}
.header--pagex {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
}
.header__logo {
  font-family: "Shrikhand", "cursive";
  text-align: center;
  margin: 0;
}
.header__logo--pagex {
  margin: 0 auto 0 auto;
}
.header__back_logo {
  position: absolute;
  margin-left: 2%;
  color: black;
  font-size: 1.2rem;
}

.tete {
  display: flex;
  flex-direction: row;
  width: auto;
  margin: 0.3% 1.5%;
  align-items: center;
}
.tete__title {
  display: flex;
  padding-left: 2%;
  font-family: "Shrikhand", "cursive";
}
.tete .icon {
  display: block;
  margin-left: auto;
  cursor: pointer;
  transition: transform 1s linear;
}
.tete .icon i.far.fa-heart {
  display: block;
}
.tete .icon i.far.fa-heart--pagex {
  display: flex;
}
.tete .icon .icon_1 {
  visibility: visible;
  opacity: 1;
  transition: transform 1s linear;
}
.tete .icon .icon_1--pagex {
  position: relative;
  top: 0;
  text-align: center;
  right: -12.5px;
  font-size: 1.5em;
}
.tete .icon .icon_2 {
  position: relative;
  top: -30px;
  visibility: hidden;
  opacity: 0;
  transform: scale(1);
  transition: transform 1s linear;
}
.tete .icon .icon_2--pagex {
  top: 0;
  text-align: center;
  right: 12px;
  font-size: 1.5em;
}
.tete .icon:hover .icon_1 {
  visibility: hidden;
  opacity: 0;
}
.tete .icon:hover .icon_2 {
  visibility: visible;
  opacity: 1;
  background: linear-gradient(to top, #9356DC, #FF79DA);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transform: scale(1.5);
}
.tete .icon--pagex {
  display: flex;
  padding: 0 0.5% 0 0.5%;
}

.image {
  max-width: 100%;
  max-height: 32rem;
  width: 100%;
  object-fit: cover;
}

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0 0 0 0;
}
.container--pagex {
  width: 90%;
  background-color: #f3f3f3;
  height: 550px;
  margin: -4% auto 0 auto;
  border: 1px solid transparent;
  position: relative;
  border-radius: 2rem 2rem 0 0;
}
@media screen and (min-width: 320px) and (max-width: 480px) {
  .container {
    width: 100%;
  }
}

.local {
  display: flex;
  width: auto;
  justify-content: center;
  padding: 1.25rem 1rem;
  font-size: 1.2rem;
  background: #f3f3f3;
}
.local__text {
  font-weight: 700;
}
.local__icon {
  margin-right: 1%;
}

.resto {
  display: flex;
  width: auto;
  justify-content: center;
  flex-direction: column;
  background-color: #fafafa;
  padding: 2rem;
}
.resto__menu {
  margin: 0;
  text-align: center;
}
.resto__disco {
  font-weight: 300;
  text-align: center;
}
.resto__explo {
  text-align: center;
  color: #fff;
  background-color: #FF79DA;
  border: 0;
  margin: 0 auto;
  padding: 0.75rem 1.5rem;
  border-radius: 100px;
  font-weight: 500;
  font-size: 1.1rem;
  background-image: linear-gradient(0, #9356DC, #FF79DA);
  cursor: pointer;
  box-shadow: 0.25rem 0.25rem 10px rgba(0, 0, 0, 0.25);
  transform: scale(1);
  transition: transform 1s;
}
.resto__explo:hover {
  transform: scale(1.2);
  transition-duration: 0.5s;
  box-shadow: 0.55rem 0.55rem 10px rgba(0, 0, 0, 0.25);
}
@media screen and (min-width: 320px) and (max-width: 480px) {
  .resto__explo {
    transform: scale(1);
    transition: transform 1s;
  }
  .resto__explo:active {
    transform: scale(1.2);
    transition-duration: 0.5s;
    box-shadow: 0.55rem 0.55rem 10px rgba(0, 0, 0, 0.25);
  }
}

.info {
  display: flex;
  width: auto;
  flex-direction: column;
}
.info__header {
  margin: 2% 5% 2% 5%;
}
@media screen and (min-width: 320px) and (max-width: 480px) {
  .info__header {
    margin: 0;
  }
}
.info__header > .title {
  margin: 0 0 0 2.8%;
}
@media screen and (min-width: 1024px) and (max-width: 1280px) {
  .info__header > .title {
    margin-left: 0;
  }
}
.info__steps {
  display: flex;
  flex-direction: row;
  padding: 0;
  margin: 0 5% 0 5%;
}
@media screen and (min-width: 320px) and (max-width: 480px) {
  .info__steps {
    display: flex;
    flex-direction: column;
    margin: 0;
  }
}
@media screen and (min-width: 481px) and (max-width: 767px) {
  .info__steps {
    display: flex;
    flex-direction: column;
    margin: 0;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .info__steps {
    display: flex;
    flex-direction: column;
    margin: 0 1rem;
  }
}
@media screen and (min-width: 1024px) and (max-width: 1280px) {
  .info__steps {
    margin: 0 2% 0 2%;
    justify-content: space-between;
  }
}
.info__steps > .info_step {
  display: flex;
  flex: 1;
  align-items: center;
  padding: 1.5rem;
  margin: 0 3rem 0 3rem;
  border-radius: 1.25rem;
  box-shadow: 0.25rem 0.25rem 0.5rem rgba(0, 0, 0, 0.125);
  background-color: #f6f6f6;
}
@media screen and (min-width: 320px) and (max-width: 480px) {
  .info__steps > .info_step {
    margin: 2% 4.3% 2% 7%;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .info__steps > .info_step {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
}
@media screen and (min-width: 481px) and (max-width: 767px) {
  .info__steps > .info_step {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
}
@media screen and (min-width: 1024px) and (max-width: 1280px) {
  .info__steps > .info_step {
    flex: 1;
    margin: 0 2.2rem 0 2.3rem;
  }
}
.info__steps > .info_step::before {
  counter-increment: compteListe 1;
  content: counter(compteListe) " ";
  background: #9356dc;
  height: 1.5rem;
  width: 1.5rem;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  position: relative;
  left: -2.2rem;
}
.info__steps > .info_step > i {
  margin-right: 1rem;
  margin-left: -1.3rem;
  color: #7e7e7e;
}

.menu {
  display: flex;
  flex-direction: row;
  width: auto;
  justify-content: space-between;
  height: 350px;
  margin: 1%;
}
.menu__activities {
  display: flex;
  flex-direction: column;
  width: 32%;
  height: auto;
  justify-content: space-between;
}
.menu__activities .title {
  text-transform: uppercase;
  font-weight: 400;
  position: relative;
}
.menu__activities .title::after {
  width: 3rem;
  border: 1px solid;
}
.menu__activities .food {
  display: flex;
  flex-direction: row;
  width: auto;
  height: 4.5rem;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 0.25rem 0.25rem 1rem rgba(0, 0, 0, 0.1);
  background-color: #fff;
}
.menu__activities .food__header {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding-left: 4%;
  font-size: 1.2em;
}
.menu__activities .food__header h4 {
  width: auto;
  margin: 3.5% 0 0 0;
}
.menu__activities .food__header p {
  width: auto;
  font-weight: 300;
  margin: 0;
}
.menu__activities .food__price {
  display: flex;
  padding-top: 8.8%;
  padding-right: 4%;
  font-weight: bold;
  font-size: 1.2em;
}

/* ------------------------  Section de la page d'accueil  ------------------------------------*/
.restaurant {
  display: flex;
  width: auto;
  flex-direction: column;
  justify-content: space-around;
  background-color: #f6f6f6;
  margin-top: 2%;
}
.restaurant__title {
  display: flex;
  margin: 1% 5% 1% 5%;
  padding-left: 2.4%;
}
@media screen and (min-width: 320px) and (max-width: 480px) {
  .restaurant__title {
    margin: 1% 0 1% 0;
    padding-left: 3%;
  }
}
@media screen and (min-width: 1024px) and (max-width: 1280px) {
  .restaurant__title {
    padding-left: 0;
  }
}
.restaurant__new {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: auto;
  height: 265px;
  margin: 1% 8.1% 3% 7.6%;
}
@media screen and (min-width: 1024px) and (max-width: 1280px) {
  .restaurant__new {
    margin: 1% 5% 1% 5%;
  }
}
@media screen and (min-width: 320px) and (max-width: 480px) {
  .restaurant__new {
    display: flex;
    flex-direction: column;
    height: auto;
    margin: 1% 4.3% 0 4.3%;
  }
}
@media screen and (min-width: 481px) and (max-width: 767px) {
  .restaurant__new {
    display: flex;
    flex-direction: column;
    height: auto;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .restaurant__new {
    display: flex;
    flex-direction: column;
    height: auto;
  }
}
.restaurant__new .order {
  display: flex;
  flex-direction: column;
  width: 48.5%;
  height: auto;
  border-radius: 1rem;
  background-color: white;
  position: relative;
}
@media screen and (min-width: 320px) and (max-width: 480px) {
  .restaurant__new .order {
    display: flex;
    width: auto;
    flex-direction: column;
    margin: 4% 0.1% 4% 0.1%;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .restaurant__new .order {
    display: flex;
    width: auto;
    flex-direction: column;
    margin: 4% 0.1% 4% 0.1%;
  }
}
@media screen and (min-width: 481px) and (max-width: 767px) {
  .restaurant__new .order {
    display: flex;
    width: auto;
    flex-direction: column;
    margin: 4% 0.1% 4% 0.1%;
  }
}
.restaurant__new .order__menu {
  width: auto;
  border-radius: 1rem;
  color: black;
  text-decoration: none;
}
.restaurant__new .order__menu > .image {
  width: 100%;
  height: 180px;
  border-radius: 1rem 1rem 0 0;
  object-fit: cover;
}
.restaurant__new .order__menu .footer {
  display: flex;
  width: auto;
}
.restaurant__new .order__menu .footer__menu {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 0.5rem;
}
.restaurant__new .order__menu .footer__menu .description {
  display: flex;
  flex-direction: column;
  flex: 1;
}
@media screen and (min-width: 320px) and (max-width: 480px) {
  .restaurant__new .order__menu .footer__menu .description {
    flex: 2;
  }
}
.restaurant__new .order__menu .footer__menu .description h3 {
  margin: 0;
}
.restaurant__new .order__menu .footer__menu .description span {
  margin: 0;
}
.restaurant__new .order__menu .footer__menu .like {
  display: flex;
  flex: 1;
}
.restaurant__new .order__menu .footer__menu .like .icon {
  display: block;
  margin-left: auto;
  cursor: pointer;
  transition: transform 1s linear;
}
.restaurant__new .order__menu .footer__menu .like .icon i.far.fa-heart {
  display: block;
}
.restaurant__new .order__menu .footer__menu .like .icon i.far.fa-heart--pagex {
  display: flex;
}
.restaurant__new .order__menu .footer__menu .like .icon .icon_1 {
  visibility: visible;
  opacity: 1;
  transition: transform 1s linear;
}
.restaurant__new .order__menu .footer__menu .like .icon .icon_1--pagex {
  position: relative;
  top: 0;
  text-align: center;
  right: -12.5px;
  font-size: 1.5em;
}
.restaurant__new .order__menu .footer__menu .like .icon .icon_2 {
  position: relative;
  top: -30px;
  visibility: hidden;
  opacity: 0;
  transform: scale(1);
  transition: transform 1s linear;
}
.restaurant__new .order__menu .footer__menu .like .icon .icon_2--pagex {
  top: 0;
  text-align: center;
  right: 12px;
  font-size: 1.5em;
}
.restaurant__new .order__menu .footer__menu .like .icon:hover .icon_1 {
  visibility: hidden;
  opacity: 0;
}
.restaurant__new .order__menu .footer__menu .like .icon:hover .icon_2 {
  visibility: visible;
  opacity: 1;
  background: linear-gradient(to top, #9356DC, #FF79DA);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transform: scale(1.5);
}
.restaurant__new .order__menu .footer__menu .like .icon--pagex {
  display: flex;
  padding: 0 0.5% 0 0.5%;
}
.restaurant__new .order__menu .nouveau {
  background-color: #99e2d0;
  color: #1b6150;
  display: flex;
  justify-content: center;
  padding: 0.5rem 1rem;
  border-radius: 0.125rem;
  position: absolute;
  top: 12px;
  right: 15px;
}
@media screen and (min-width: 320px) and (max-width: 480px) {
  .restaurant__new .order__menu .nouveau {
    padding: 0.5rem 2.3rem;
    left: 72%;
  }
}

/**** Pied de la page ----// */
.pied {
  width: auto;
  background-color: #353535;
  color: #fff;
  margin: 0;
}
.pied .contenu {
  display: flex;
  width: auto;
  flex-direction: column;
  margin-left: 6%;
  padding: 1rem;
}
@media screen and (min-width: 320px) and (max-width: 480px) {
  .pied .contenu {
    margin-left: 0.2%;
  }
}
@media screen and (min-width: 481px) and (max-width: 767px) {
  .pied .contenu {
    margin-left: 4.5%;
  }
}
@media screen and (min-width: 1024px) and (max-width: 1280px) {
  .pied .contenu {
    margin-left: 3.5%;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .pied .contenu {
    margin-left: 5.5%;
  }
}
.pied__logo {
  font-family: "Shrikhand", "cursive";
  font-size: 1.2rem;
  padding: 0 0 1rem;
}
.pied__liste {
  list-style: none;
  margin: 0;
  padding: 0;
}
.pied__liste li {
  margin-bottom: 0.5rem;
}
.pied__liste a {
  text-decoration: none;
  color: #fff;
}
.pied__liste a:hover {
  text-decoration: underline;
}
.pied__liste a > i {
  margin-right: 0.5rem;
}

/*# sourceMappingURL=style.css.map */
