@mixin before {
    counter-increment: compteListe 1;
    content: counter(compteListe) " ";
    background: #9356dc;
    height: 1.5rem;
    width: 1.5rem;
    border-radius: 100px;
    display: $flex;
    justify-content: $center;
    align-items: $center;
    color: #fff;
    position: $relative;
    left: -2.2rem;
}

@mixin mobile{
    @media screen and (min-width:320px) and (max-width:480px) {
        @content;
    }
}

@mixin flex_center {
    display: $flex;
    width: $auto;
    justify-content: $center;  
}

@mixin auto_column{
    display: $flex;
    width: $auto;
    flex-direction: column;
}

@mixin column {
    display: $flex;
    flex-direction: column;
}

@mixin  row {
    display: $flex;
    flex-direction: row;
}

@mixin left_title{
    padding-left: 2.4%;
    @include mobile{
        padding-left: 0;
        margin-left:0;
    }
}