/* ------------------     Mixins of home page ---------------------------------------------*/


@mixin before {
    counter-increment: compteListe 1;
    content: counter(compteListe) " ";
    background: #9356dc;
    height: 1.5rem;
    width: 1.5rem;
    border-radius: 100px;
    display: $flex;
    justify-content: $center;
    align-items: $center;
    color: #fff;
    position: $relative;
    left: -2.2rem;
}

@mixin mobile{
    @media screen and (min-width:320px) and (max-width:480px) {
        @content;
    }
}

@mixin mobile_android{
    @media screen and (min-width:481px) and (max-width:767px) {
        @content;
    }
}

@mixin tablette{
    @media screen and (min-width:768px) and (max-width:1023px) {
        @content;
    }
}
@mixin tablette_pro{
    @media screen and (min-width:1024px) and (max-width:1280px) {
        @content;
    }
}

@mixin flex_center {
    display: $flex;
    width: $auto;
    justify-content: $center;  
}

@mixin auto_column{
    display: $flex;
    width: $auto;
    flex-direction: column;
}

@mixin column {
    display: $flex;
    flex-direction: column;
}

@mixin  row {
    display: $flex;
    flex-direction: row;
}

@mixin left_title{
    padding-left: 2.4%;
    @include mobile{
        padding-left: 0;
        margin-left:0;
    }
}

@mixin on_active{
    .icon{
        transition: transform 1s linear;
        i.far.fa-heart {
            display: block;
        }
        .icon_1{
            visibility: visible;
            opacity: 1;
            transition: transform 1s linear;
        }

        .icon_2{
            position: relative;
            visibility: hidden;
            opacity: 0;
            transform: scale(1);
            transition: transform 1s linear;
        }
        &:active .icon_1 {
            visibility: hidden;
            opacity: 0;
          }
        
        &:active .icon_2 {
            visibility: visible;
            opacity: 1;
            background: -webkit-gradient(linear, left top, left bottom, from($color-secondary ), to($color-primary));
            background-clip: text;
            -webkit-text-fill-color: transparent;
            transform: scale(1);
        }
    }    
}

@mixin on_active_button {
    transform: scale(1);
    transition: transform 1s;
    &:active{
        transform: scale(1.2);
        transition-duration: .5s;
        box-shadow: .55rem .55rem 10px rgba(0,0,0,.25);
    }
}

@mixin on_hover{
    .icon{
        display: block;
        margin-left: auto;
        cursor: pointer;
        transition: transform 1s linear;
        i.far.fa-heart {
            display: block;
        }
        .icon_1{
            visibility: visible;
            opacity: 1;
            transition: transform 1s linear;
        }

        .icon_2{
            position: $relative;
            top: -30px;
            visibility: hidden;
            opacity: 0;
            transform: scale(1);
            transition: transform 1s linear;
        }
        &:hover .icon_1 {
            visibility: hidden;
            opacity: 0;
          }
        
        &:hover .icon_2 {
            visibility: visible;
            opacity: 1;
            background: -webkit-gradient(linear, left top, left bottom, from($color-secondary ), to($color-primary));
            background-clip: text;
            -webkit-text-fill-color: transparent;
            transform: scale(1.5);
        }
    } 
}