// Les entetes de la page

.header{
    width: $auto;
    background-color: transparent;
    padding: 1rem;
    box-shadow:  0 0 .5rem rgba(0,0,0,.25);
    position: $relative;
    /// Pour d'autres pages 
    &--pagex{
       @include row;
        align-items: center;
    }
    &__logo{
        font-family: "Shrikhand","cursive";
        text-align: $center;
        margin: 0;
        /// Pour d'autres pages
        &--pagex{
            margin: 0 auto 0 auto;
        }
    }
    &__back_logo{
        position: absolute;
        margin-left: 2%;
        color: black;
        font-size: 1.2rem;
    }
}


// Pour d'autres pages

.tete{
    @include row;
    width: $auto;
    margin:0.3% 1.5%;
    align-items: $center;
    &__title{
        display: $flex;
        padding-left:2%;
        font-family: "Shrikhand","cursive";
    }
    @include on_hover;

}